
@{
    ViewBag.Title = "Index";
}

<div class="banner">

    <img src="~/Content/img/banner_tintuc.png">





</div>








<div class="gach">

    <hr><div>
        Tin Tức
        <div><hr></div>
    </div>
</div>
<div class="news">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="card" style="width: 18rem;">
            <a href=""><img class="card-img-top" src="~/Content/img/pngtree-hot-news-icon-cartoon-style-png-image_1861665.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="card" style="width: 18rem;">
            <a href=""><img class="card-img-top" src="~/Content/img/pngtree-hot-news-icon-cartoon-style-png-image_1861665.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="card" style="width: 18rem;">
            <a href=""><img class="card-img-top" src="~/Content/img/pngtree-hot-news-icon-cartoon-style-png-image_1861665.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-4 col-sm-5">
        <div class="card" style="width: 18rem;">
            <a href=""><img class="card-img-top" src="~/Content/img/pngtree-hot-news-icon-cartoon-style-png-image_1861665.jpg" alt="Card image cap"></a>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

    </div>

</div>

